.HP {
  height: 676px;
  background-color: rgba(248, 242, 0, 1);
  color: black;
  padding-top: 60px;
}

.HP_container {
  height: 676px;
  position: relative;
}

.wrapper_HP {
  display: flex;
}

.wrapper_HP_img {
  width: 624px;
  height: 430px;
  margin-right: 32px;
  margin-top: 5px;
}

.HP_description {
  width: 624px;
  height: 526px;
}

.headline_HP {
  width: 560px;
  height: 126px;
}

.p_HP {
  width: 624px;
  height: 125px;
  margin-top: 25px;
}

.advantages_list {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  width: 390px;
  height: 126px;
  margin-top: 35px;
}

li {
  margin-top: 20px;
}

.advantages_colors {
  background: url(/assets/img/advantages_colors.svg) no-repeat;
  padding-left: 40px;
  height: 32px;
}

.advantages_clarity {
  background: url(/assets/img/advantages_clarity.svg) no-repeat;
  padding-left: 40px;
  height: 32px;
}

.advantages_gameplay {
  background: url(/assets/img/advantages_gameplay.svg) no-repeat;
  padding-left: 40px;
  height: 32px;
}

.HP_button {
  background-color: black;
  width: 162px;
  height: 59px;
  color: #f8f200;
  font-size: 18px;
  line-height: 21.09px;
  margin-top: 50px;
}

.HP_logo_icons {
  width: 540px;
}

.HP_logo {
  width: 540px;
  height: 80px;
  left: 0px;
  margin-top: 42px;
  margin-left: 43px;
}
