.purchase {
  display: flex;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.purchase_img {
  max-width: 944px;
  height: 717px;
}

.purchase_desc {
  padding: 70px 0 0 30px;
}
.purchase_title {
  width: 624px;
  margin-bottom: 20px;
}

.purchase_b {
  font-size: 24px;
}
.span_purchase {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
}

.purchase_list {
  margin-bottom: 50px;
}
.purchase_list > li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.purchase_list_icon {
  display: inline-block;
  width: 32px;
  margin-right: 10px;
}

.purchase_list_platforms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  width: 319px;
}

.logo_PC {
  width: 62px;
}
.logo_xbox {
  width: 178px;
}
.logo_stadia {
  width: 58px;
}
.logo_Playstation {
  width: 168px;
}
