.raffle {
  height: 814px;
  background-color: black;
  color: white;
}

.raffle_container {
  position: relative;
  height: 814px;
}

.wrapper_action_img {
  width: 132px;
  margin-right: 20px;
}
.wrapper_headline {
  display: flex;
  margin-bottom: 30px;
}
.wrapper_headline > h2 {
  padding-top: 50px;
}
.raffle_description {
  width: 952px;
  margin-bottom: 60px;
}
.raffle_form {
  max-width: 460px;
  height: auto;
}

.input_wrap {
  position: relative;
  margin-bottom: 35px;
}

.form_input {
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  padding-top: 10px;
  background-color: transparent;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.form_label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.form_input:focus ~ .form_label,
.form_input:not(::placeholder-shown) ~ .form_label {
  top: 18px;
}
.input_wrap_file {
  max-width: 460px;
  height: 120px;
  border: 2px dashed gray;
  margin-top: 35px;
}

.send_file {
  display: none;
}

.send_label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 6;
}

.type_loading {
  position: relative;
  top: -35;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
}

.form_button {
  margin-top: 35px;
}

.button_submit {
  background-color: yellow;
  width: 192px;
  height: 59px;
  font-size: 18px;
}

.input_checkbox {
  display: none;
}

.form_checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid grey;
  margin-top: 10px;
  transition: 0.3s ease-in;
}

.checkbox_text {
  position: relative;
  bottom: 3px;
  margin-left: 3px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
}

.form_checkbox::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-image: url(/assets/img/cheked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1px;
  transition: 0.3s ease-in;
}

.input_checkbox:checked + .form_checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.img_price {
  position: absolute;
  width: 788px;
  height: 456px;
  right: 0;
  bottom: 139px;
}
